.title {
    font-family: monospace;
    text-align: center;
}

.updated {
    color: red;
    font-family: monospace;
    text-align: center;
}

.title3 {
    color: blue;
    text-align: center;
    font-family: monospace;
    width: 100%;
}

.credits {
    font-family: monospace;
    text-align: left;
}

.news {
    font-family: monospace;
    color="#2B547E";
    text-decoration: none;
    text-align: center;
    max-width: 30%;
    margin-left: 35%;
}

.regtext {
    font-family: monospace;
    color="black";
    text-align: center;
    max-width: 39%
    margin-left: 35%;
}
