.title {
    font-family: monospace;
    text-align: center;
}

.title2 {
    color: red;
    font-family: monospace;
    text-align: center;
}

.title3 {
    color: blue;
    text-align: center;
    font-family: monospace;
    width: 100%;
}

.water {
    font-family: "Century Gothic";
    text-align: left;
}

.regText {
    font-family: monospace;
    color="#2B547E";
    text-decoration: none;
    text-align: center;
    max-width: 30%;
    margin-left: 35%;
}

.block {
    border-style: solid;
    border-top: none;
    border-bottom: black, 1px;
    border-left: none;
    border-right: none;
    max-width:20%;
    margin-left:27.5%;
}
